* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  overflow: hidden;
}

h2 {
  color: #2d2d2d;
}

p {
  color: #707070;
}

.banner {
  background: #95a4bc;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.banner .banner__callout {
    display: flex;
    align-items: center;
}

.banner p {
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  margin-left: 5px;
}

.header {
  padding: 20px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 36px;
}

.container--offset {
  padding: 0 21px 0 36px;
}

.container--calm-canine {
  padding-left: 114px;
  padding-right: 36px;
}

.section--hero {
  padding: 40px 0 50px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../images/doggo-mobile@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.section--hero .section__title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 42px;
  margin-bottom: 11px;
}

.section--hero .section__text {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 19px;
  padding-right: 141px;
  color: #fff;
}

.section--tips {
  padding: 47px 0 53px;
  background-color: #f0f2f4;
}

.section--tips .section__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.tip-card {
  padding: 18px;
  margin-bottom: 36px;
  background: #fff;
  border-radius: 3px;
}

.tip-image {
  margin-left: 18px;
}

.tip-image--1 {
  width: 130px;
}

.tip-image--2 {
  width: 150px;
}

.tip-image--3 {
  width: 176px;
}

.tip-card .tip-card__title {
  color: #2d2d2d;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.tip-card .tip-card__text {
  color: #707070;
  font-size: 12px;
  line-height: 16px;
}

.bonus-tip {
  text-align: center;
  padding: 27px 0 16px;
  border-top: 1px solid #ac1b20;
  border-bottom: 1px solid #ac1b20;
  position: relative;
}

.bonus-tip .bonus-tip__image {
  margin-bottom: 14px;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 20px 0;
}

.bonus-tip .bonus-tip__text {
  font-size: 12px;
  line-height: 16px;
}

.section--calm-canine {
  padding: 0 0 40px;
  background-color: #f0f2f4;
}

.section--calm-canine .section__background {
  padding: 35px 0 69px;
  background: url("../images/guy-with-dog@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 33px;
}

.section--calm-canine .section__title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  margin-bottom: 14px;
}

.section--calm-canine .section__text {
  font-size: 12px;
  line-height: 16px;
}

.value-props {
  width: 50%;
  margin-bottom: 21px;
}

.value-props .value-props__item {
  font-size: 12px;
  color: #2d2d2d;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 6px;
}

.container--bundle {
  position: relative;
}

.bundle-image-text {
  position: absolute;
  top: -138px;
  right: -93px;
}

.bundle-image-text .legal {
  font-size: 8px;
  font-weight: 700;
  margin-left: 33px;
}

.section--calm-canine .section__choice-text {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #96a4bb;
  margin-bottom: 21px;
}

.section--reviews {
  padding: 62px 0 57px;
  text-align: center;
}

.section--reviews .section__title {
  font-size: 26px;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 44px;
}

.review-card {
}

.review-card .review-card__quote {
  font-size: 14px;
  line-height: 24px;
}

.review-card .review-card__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #707070;
}

.footer {
  background-color: #1f2f64;
  padding: 45px 0;
}

.footer .footer__list {
  width: 45%;
}

.footer .footer__list:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.footer .footer__list li {
  margin-top: 8px;
}

.footer .footer__list li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.footer .footer__list-title {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  font-weight: 800;
}

.footer .footer__lists-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  border-bottom: 1px solid #fffcfc;
}

.social-links li {
  display: inline-block;
  margin-left: 2px;
}

.social-links li:first-child {
  display: block;
}

.social-links li:nth-child(2) {
  margin: 0;
}

.footer .footer__legal {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  margin-top: 42px;
}

.footer .credit-cards {
  margin-top: 42px;
}

.footer .footer__form {
    margin-bottom: 65px;
}

.footer .footer__title {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    line-height: 27px;
    margin-bottom: 14px;
    text-align: center;
}

.footer__input {
  border-radius: 30px 0 0 30px;
  display: inline-block;
  width: 70%;
  line-height: 1;
  text-indent: 10px;
}

.footer__submit {
  border-radius: 0 30px 30px 0;
  background: #00b2e3;
  height: 39px;
  line-height: 1;
  width: 30%;
  margin-top: 1px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-indent: -10px;
  font-weight: 700;
}

.legal-box {
  padding: 10px;
  border: 1px solid #fff;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  background: #00b2e3;
  padding: 8px 25px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.button-with-text + .button-with-text {
  margin-top: 21px;
}

.button-with-text .button {
  display: block;
  width: 216px;
  margin: 0 auto;
  text-align: center;
}

.button-with-text span {
  display: block;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 275px;
  }

  .banner {
      justify-content: space-evenly;
  }

  .banner .banner__callout {
      display: flex;
      align-items: center;
  }

  .banner .banner__nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 400px;
  }

  .header {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .header .header__icons img {
      margin-left: 10px;
  }

  .header .button {
      margin: 0;
  }

  .nav .nav__list {
      display: flex;
  }

  .nav .nav__list li {
      margin-right: 30px;
      position: relative;
  }

  .nav .nav__list li:after {
    content: "";
    width: 5px;
    height: 8px;
    background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
}

  .nav .nav__list li a {
      color: #000;
      font-weight: 700;
  }

  .section--hero {
    padding: 155px 0;
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../images/doggo-desktop@2x.png");
  }

  .section--hero .section__title {
    font-size: 65px;
    line-height: 67px;
    margin-bottom: 13px;
  }

  .section--hero .section__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 23px;
    max-width: 724px;
  }

  .section--tips {
    padding: 100px 0;
  }

  .section--tips .section__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 46px;
  }

  .container--tips {
    padding: 0 197px;
  }

  .tips-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tip-card {
    max-width: 479px;
  }

  .tip-card .tip-card__title {
    font-size: 14px;
    line-height: 22px;
  }

  .tip-card .tip-card__text {
    font-size: 14px;
    line-height: 24px;
  }

  .bonus-tip-desktop-container {
    max-width: 479px;
    margin: 0 auto;
  }

  .section--calm-canine {
    padding-bottom: 0;
    position: relative;
  }

  .section--calm-canine .section__image {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 4%;
  }

  .section--calm-canine .section__background {
    padding: 155px 0 220px;
    background-image: url("../images/guy-with-dog-desktop.png");
    background-color: #f0f2f4;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin: 0;
  }

  .section--calm-canine .section__title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 20px;
    max-width: 444px;
  }

  .section--calm-canine .section__text {
    font-size: 14px;
    line-height: 24px;
    max-width: 568px;
    margin-bottom: 21px;
  }

  .section--calm-canine .section__choice-text {
    max-width: 572px;
  }

  .container--calm-canine {
    padding-left: 467px;
  }

  .value-props {
    margin-left: 29px;
  }

  .container--reviews {
    display: flex;
    justify-content: space-around;
  }

  .review-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 45%;
  }

  .review-card {
    width: 45%;
    text-align: left;
  }

  .section--reviews {
    padding: 97px 0 110px;
    position: relative;
  }

  .section--reviews .section__title {
    font-size: 38px;
    line-height: 44px;
    text-align: left;
    max-width: 422px;
  }

  .section--reviews .section__image {
    position: absolute;
    left: -56px;
    bottom: 0px;
    z-index: 10;
    width: 796px;
  }

  .footer {
    position: relative;
    z-index: 1;
  }

  .footer .footer__form {
      margin-top: 8px;
  }

  .footer__lists-container {
      justify-content: space-between;
  }

  .footer .footer__submit {
      margin: 0;
  }

  .credit-cards {
      display: block;
      margin: 0 auto;
  }

  .footer .footer__list {
      width: auto;
  }

  .button-with-text {
    display: inline-block;
    margin-right: 41px;
  }

  .button-with-text .button {
    width: 266px;
  }
}
